<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="listeners.Listeners" />
	</listeners>
	<test thread-count="5" name="LoginTest">
		<classes>
			<class name="tests.LoginTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TransactionAmountSortingTest">
		<classes>
			<class name="tests.TransactionAmountSortingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
